  <div class="comment-box">
    <div class=author>
      <a href="/authors/<%= comment.author %>">
        <%= comment.author %>
      </a>
    </div>

    <div class="content">
      <%= comment.content %>
    </div>

    <div class="post__options">
      <!-- share button -->
      <div class="post__button-share">
        <a href=""><i class="fa fa-share-alt"></i></a>
      </div>

      <!-- delete button -->
      <form class="post__button-delete"
            action="/comments/<%= comment._id %>?_method=DELETE"
            method="post">
        <label for="icon-delete">
          <i class="fa fa-trash"></i>
        </label>
        <input id="icon-delete" type=submit value="delete">
      </form>

      <!-- edit button -->
      <div class="post__button-edit">
        <a href="/comments/<%= comment._id %>/edit"><i class="fa fa-pencil-square-o"></i></a>
      </div>

      <!-- reply button -->
      <div class="post__button-reply">
        <a href="/comments/<%= comment._id %>/reply"><i class="fa fa-comment"></i></a>
      </div>

      <!-- like button -->
      <div class="post__button-like">
        <a href=""></a><i class="fa fa-star"></i></a>
      </div>

    </div>
  </div>


    <% comment.replies.forEach(function (reply) { %>
      <div class="comment-box">
        <div class=author>
          <a href="/authors/<%= comment.author %>">
            <%= reply.author %>
          </a>
        </div>

        <div class="content">
          <%= reply.replymessage %>
        </div>
      </div>
      <% }); %>
